<nav id=primaRiga class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand"> VIRI </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="mostraNomeFile"> FileNex <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="ulListaFile">

                        </ul>
                    </li>

                    <li><a>Current solution:</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="mostraNumeroSoluzione" value="1"> 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="numberSolutionGraph">

                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Options <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Eucalypt options</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a>	Max. # of solutions computed: <input type="text" id="numberMaxSolution" placeholder="Max" size="5" value="1" {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()"></a></li>
                            <li><a>	Root-to-root mapping: <input name="html" type="checkbox" id="rootToRoot" value="html" checked="checked" {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()" />
				</a></li>
                            <li><a>Random sampling: <input name="html" type="checkbox" id="soluzioniRandomiche" value="html" {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()"></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Costs <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Reconciliation costs used by Eucalypt</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a>Cospeciation:    <input type="text" size="5" id="cc" placeholder="-1" {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()"></a></li>
                            <li><a>Duplication: 	<input type="text" size="5" id="cd" placeholder="1"  {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()"></a></li>
                            <li><a>Sorting: 		<input type="text" size="5" id="cs" placeholder="1"  {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()"></a></li>
                            <li><a>Host-switch: 	<input type="text" size="5" id="ch" placeholder="1"  {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()"></a></li>
                            <li class="divider" role="separator"></li>
                            <li><a>Max host-switch distance:	<input type="text" id="maximumHostSwitchDistance" size="10" placeholder="Infinite" value="" {% if user_logged is undefined %} disabled {% endif %} onchange="grafic()">
            </a>  </li>

                        </ul>
                        </li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Time consistency <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a>Eucalypt filtering of time-inconsistent solutions</a></li>
                                <li class="divider" role="separator"></li>

                                <li><a>Enable filtering: <input name="html" type="checkbox" id="rimuoviCicli" value="html" disabled {% if current_user.id is undefined %} disabled {% endif %} onchange="grafic()" /></a></li>
                                <li><a><input type="radio" name="linguaggio" value="1" checked="checked" id="test1" {% if current_user.id is undefined %} disabled {% endif %} onchange="changeTest()" /> Filtering based on [Stolzer et al., 2012]</a></li>
                                <li><a><input type="radio" name="linguaggio" value="2" id="test2" {% if current_user.id is undefined %} disabled {% endif %} onchange="changeTest()" /> Filtering based on [Tofigh et al., 2011]</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heuristics <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a><input type="radio" name="linguaggio" value="1" id="euristica1" onchange="ridisegna()" /> Rapp. </a></li>
                                <li><a><input type="radio" name="linguaggio" checked="checked" value="2" id="euristica2" onchange="ridisegna()"/> GDT Universal. </a></li>
                                <li><a><input type="radio" name="linguaggio" value="3" id="euristica3" onchange="ridisegna()" /> GDT for Solution. </a></li>
				                <li><a><input type="radio" name="linguaggio" value="4" id="euristica4" onchange="ridisegna()"/> Random </a></li>
				                <li><a><input type="radio" name="linguaggio" value="5" id="euristica5" onchange="ridisegna()"/> Hierarchy sort </a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a>Non-switch edges: &nbsp;<input name="non-switch-edges" type="radio" id="curve" value="html" checked="checked" onchange="ridisegna()" /> curves &nbsp;<input name="non-switch-edges" type="radio" id="curve" value="html" onchange="ridisegna()" /> straight-lines</a></li>
                                <li><a>Switch edges: &nbsp;<input name="switch-edges" type="radio" id="curveSwitch" value="html" checked="checked" onchange="ridisegna()" /> curves &nbsp;<input name="switch-edges" type="radio" id="curveSwitch" value="html" onchange="ridisegna()" /> straight-lines</a></li>

                                <!--li><a>curveSwitch :<input name="html" type="checkbox" id="curveSwitch" value="html" checked="checked" onchange="ridisegna()" /> </a></li-->

                                <li class="divider" role="separator"></li>

                                <li><a>Width: <input type="text" id="width" size="10" onchange="ridisegna()"></a></li>
                                <li><a>Height: <input type="text" id="height" size="10" onchange="ridisegna()"></a></li>

                                <li class="divider" role="separator"></li>

                                <li><a>Separator width: <input type="text" id="select5" size="5" placeholder="0" onchange="ridisegna()"></a></li>
                                <li><a>Separator height: <input type="text" id="select6" size="5" placeholder="0" onchange="ridisegna()"></a></li>

                                <li class="divider" role="separator"></li>

                                <li><a>Leaves to the floor:	<input name="html" type="checkbox" id="longLeaves" value="html" checked="checked" onchange="ridisegna()" /></a></li>


                                <li><a>Same level same height: <input name="html" type="checkbox" id="equalsLivelEqualsHeight" value="html" onchange="ridisegna()" /></a></li>
                                <li class="divider" role="separator"></li>

                                <li><a>Blocked host tree: <input name="html" type="checkbox" id="bloccato" value="html" onchange="bloccato()" /></a></li>
                            </ul>
                        </li>

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:javascript: (function () { var e = document.createElement('script'); e.setAttribute('src', 'https://nytimes.github.io/svg-crowbar/svg-crowbar.js'); e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e); })()">Save</a></li>
                </ul>
                {% if current_user.id is undefined %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login_form">LOGIN</a></li>
                    </ul>
                {% endif %}
                {% if current_user.id is defined %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/upload">UPLOAD</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                {% endif %}
            </div>
            <!--/.nav-collapse -->
        </div>

    </nav>