<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/check_pwd/check.js') }}"></script>
</head>
<body>
    <div class="login-page">
    <div class="form">
        <h4 class="title">REGISTER</h4>
        <form action="/register" method="POST" class="register-form">
            <label for="input_text">First Name*</label>
            <input type="text" placeholder="first name" maxlength="50" name="first" required onkeyup="return character_control(this)"/>
            <label for="input_text">Last Name*</label>
            <input type="text" placeholder="last name" maxlength="50" name="last" required onkeyup="return character_control(this)"/>
            <label for="input_text">Username*</label>
            <input type="text" placeholder="username" maxlength="20" name="username" required onkeyup="return character_control(this)"/>
            <label for="input_password">Password*</label>
            <input id="password" type="password" placeholder="password" maxlength="25" name="password" required onkeyup="check(); return character_control(this)"/>
            <label for="input_password">Confirm Password*</label>
            <input id="confirm_password" type="password" placeholder="confirm password" maxlength="25" required onkeyup="check(); return character_control(this)"/>
            <span id="message"></span>
            <button id="button" type="submit" disabled>create</button>
            <p class="message">Already registered? <a href="/login_form">Sign In</a></p>
            <p class="message">If the registration is ok you will be redirected to login page</p>
        </form>
    </div>
    <div>
        <h4>{{ ritorno }}</h4>
    </div>
    </div>
</body>
</html>