<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- CSS libs -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.css') }}" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icicle-plus-tree.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JS libs -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery-2.2.3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap.js') }}"></script>

    <!-- JS -->

    <!-- OperationOfGraph -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/operationOfGraph/findNodeById.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/operationOfGraph/findChildrenIdsOfHostOrParasiteNode.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/operationOfGraph/findLeftOrRightChildId.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/operationOfGraph/numberOfChildrenSwitchingHost.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/operationOfGraph/findChildNotSwitchingHostId.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/operationOfGraph/findParentIdsOfHostOrParasiteNode.js') }}"></script>

    <!-- Host -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/hostNodesXCoordinates.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/hostNodesWidth.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/hostNodesBoxesHeight.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/hostNodesDepths.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/hostNodesBoxesYCoordinates.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/computeHeightOfHostTree.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/extendHostNodesBoxesHeight.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/computeSVGPathHost.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/drawnHost.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/host/copia.js') }}"></script>





    <!-- Parasite -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parasite/parasiteNodesYCoordinates.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parasite/parasiteNodesXCoordinates.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parasite/computeSVGPathSwitchEdgesParasiteTree.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parasite/computeSVGPathNonSwitchEdgesParasiteTree.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parasite/drawnParassiteNodes.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parasite/drawnParassiteEdgeSwitch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parasite/drawnParassiteEdgeNonSwitch.js') }}"></script>





    <!-- FirstOperation -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/firstOperation/euristica.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/firstOperation/precalcolo.js') }}"></script>

    <!-- Main -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/mostraOpzioni.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/down.js') }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/icicle-tree.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/main.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/ridisegna.js') }}"></script>



    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/changeNumberSolution.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/loadNumberSolution.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/animazioni.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/parametri.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/salva.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/co-phylogeny/calcolaIncroci.js') }}"></script>





    <title>Co-phylogenetic trees</title>



</head>

<body>

    <nav id=primaRiga class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a href="/" class="navbar-brand"> VIRI </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">



                    <li><a>Current solution:</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="mostraNumeroSoluzione" value="1"> 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu pre-scrollable" role="menu" id="numberSolutionGraph">

                        </ul>
                    </li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heuristics <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a><input type="radio" name="linguaggio" value="1" id="euristica1" onchange="ridisegna()" /> Rapp. </a></li>
                                <li><a><input type="radio" name="linguaggio" checked="checked" value="2" id="euristica2" onchange="ridisegna()"/> GDT Universal. </a></li>
                                <li><a><input type="radio" name="linguaggio" value="3" id="euristica3" onchange="ridisegna()" /> GDT for Solution. </a></li>
				                <li><a><input type="radio" name="linguaggio" value="4" id="euristica4" onchange="ridisegna()"/> Random </a></li>
				                <li><a><input type="radio" name="linguaggio" value="5" id="euristica5" onchange="ridisegna()"/> Hierarchy sort </a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a>Non-switch edges: &nbsp;<input name="non-switch-edges" type="radio" id="curve" value="html" checked="checked" onchange="ridisegna()" /> curves &nbsp;<input name="non-switch-edges" type="radio" id="curve" value="html" onchange="ridisegna()" /> straight-lines</a></li>
                                <li><a>Switch edges: &nbsp;<input name="switch-edges" type="radio" id="curveSwitch" value="html" checked="checked" onchange="ridisegna()" /> curves &nbsp;<input name="switch-edges" type="radio" id="curveSwitch" value="html" onchange="ridisegna()" /> straight-lines</a></li>

                                <!--li><a>curveSwitch :<input name="html" type="checkbox" id="curveSwitch" value="html" checked="checked" onchange="ridisegna()" /> </a></li-->

                                <li class="divider" role="separator"></li>

                                <li><a>Width: <input type="text" id="width" size="10" onchange="ridisegna()"></a></li>
                                <li><a>Height: <input type="text" id="height" size="10" onchange="ridisegna()"></a></li>

                                <li class="divider" role="separator"></li>

                                <li><a>Separator width: <input type="text" id="select5" size="5" placeholder="0" onchange="ridisegna()"></a></li>
                                <li><a>Separator height: <input type="text" id="select6" size="5" placeholder="0" onchange="ridisegna()"></a></li>

                                <li class="divider" role="separator"></li>

                                <li><a>Leaves to the floor:	<input name="html" type="checkbox" id="longLeaves" value="html" checked="checked" onchange="ridisegna()" /></a></li>


                                <li><a>Same level same height: <input name="html" type="checkbox" id="equalsLivelEqualsHeight" value="html" onchange="ridisegna()" /></a></li>
                                <li class="divider" role="separator"></li>

                                <li><a>Blocked host tree: <input name="html" type="checkbox" id="bloccato" value="html" onchange="bloccato()" /></a></li>
                            </ul>
                        </li>

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:javascript: (function () { var e = document.createElement('script'); e.setAttribute('src', 'https://nytimes.github.io/svg-crowbar/svg-crowbar.js'); e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e); })()">SAVE</a></li>
                </ul>
                {% if current_user.id is undefined %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login_form">LOGIN</a></li>
                    </ul>
                {% endif %}
                {% if current_user.id is defined %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/upload">UPLOAD</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                {% endif %}
            </div>
            <!--/.nav-collapse -->
        </div>

    </nav>

    <nav class="navbar navbar-default navbar-static-top"></nav>

    <div class="Tit">
        <p id="title_user" class="Title" value="{{ current_user.id }}" >{% if current_user.id is defined %} Welcome {{ current_user.id }} {% endif %}</p>
        <p id="file_name" hidden value="{{ file_name }}"></p>

    </div>
    <script type="text/javascript">
        mostraOpzioni();
    </script>

    <!--
<nav id=primaRiga hidden="" class="navbar navbar-default navbar-fixed-top" height="10">
  <div class="container-fluid">
<script type="text/javascript">
d3.select("#primaRiga")
    .transition()
    .duration(120)
	.attr("hidden",null)
d3.select("#primaRiga")
    .transition()
    .duration(120)
	.attr("hidden","")

</script>



<table  style="visibility">

<tr>
	<td>
		cost co-speciation:
		</td><td>
		<input type="text" id="cc" onchange="grafic()">
	</td>

	<td>
		cost duplication:
		</td><td>
		<input type="text" id="cd" onchange="grafic()">
	</td>

	<td>
		cost host-switch:
	</td><td>
		<input type="text" id="ch" onchange="grafic()">
	</td>

	<td>
		cost sorting ( loss ):
		</td><td>
		<input type="text" id="cs" onchange="grafic()">
	</td>




</tr>


<tr >

	<td >
		file.nex :

<button hidden=(false) value="ssss" id="oldName"></button>


		</td><td>
		<select id="select"  onchange="changeNexusFile()" >
		</select>
	</td>
	<td>
		numberMaxSolution :
		</td><td>
		<input type="text" id="numberMaxSolution" value="1" onchange="grafic()">
	</td>
	<td>
			<table>
		<tr>
		<td>
		rootToRoot :
		</td><td>
		<input name="html" type="checkbox" id="rootToRoot" value="html" checked="checked" onchange="grafic()" />
		</td></tr></table>

	</td>

	<td>
		<table>
		<tr>
		<td>
		soluzioni random :
		</td><td>
		<input name="html" type="checkbox" id="soluzioniRandomiche" value="html" onchange="changeRandomSolution()" />
		</td></tr></table>

	</td>

	</tr>
	<tr>

	<td>
<form action="">
		Cyclicity test model: </td><td>
		1-Stolzer et al.,2012 <input type="radio" name="linguaggio" value="1" checked="checked" id="test1" onchange="changeTest()" />
        </td><td>
        2-Tofigh et al.,2011 <input type="radio" name="linguaggio" value="2" id="test2" onchange="changeTest()" />
</form>
	</td>

	<td>
		<table>
		<tr>
		<td>
		Togliere time-inconsistence :
		</td><td>
		<input name="html" type="checkbox" id="rimuoviCicli" value="html" onchange="grafic()" />
		</td></tr></table>

	</td>

	<td>
		max H.-Swi. Dist :
		</td><td>
		<input type="text" id="maximumHostSwitchDistance" value="" onchange="grafic()">
	</td>
	<td>
		<button onclick="salva()">Piccola</button>
	</td>


</tr>
<tr>
	<td>
		numberSolution :
		</td><td>
		<select id="numberSolutionGraph" value="1" onchange="changeNumberSolution()">
		</select>
	</td>
	</tr>

	<td>
		<table>
		<tr>
		<td>
		longLeaves :
		</td><td>
		<input name="html" type="checkbox" id="longLeaves" value="html" checked="checked" onchange="ridisegna()" />
		</td>
		</tr></table>
	<td>
		<table>
		<tr>
		<td>
		Bloccato :
		</td><td>
		<input name="html" type="checkbox" id="bloccato" value="html" onchange="bloccato()" />
		</td> </tr></table>
	</td>
	<td>
		<table>
		<tr>
		<td>
		curveNonSwitch :
		</td><td>
		<input name="html" type="checkbox" id="curve" value="html" checked="checked" onchange="ridisegna()" />
		</td> </tr></table>

	</td>

	<td>
		<table>
		<tr>
		<td>
		curveSwitch :
		</td><td>
		<input name="html" type="checkbox" id="curveSwitch" value="html" onchange="ridisegna()" />
		</td> </tr></table>

	</td>

	<td>
		<table>
		<tr>
		<td>
		save:
		</td><td>
				<a href="javascript:javascript: (function () { var e = document.createElement('script'); e.setAttribute('src', 'https://nytimes.github.io/svg-crowbar/svg-crowbar.js'); e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e); })()" >Salva</a>
		</td>
		</tr>
		</table>

	</td>
-->
    <!--

	<td>
				<table>
		<tr>
		<td>
		equalsLevelEqualsHeight :
		</td><td>
		<input name="html" type="checkbox" id="equalsLivelEqualsHeight" value="html" onchange="ridisegna()" />
		</td>
		</tr></table>
	</td>

</tr>
<tr>
	<td>
		width :
		</td><td>
		<input type="text" id="width" width="100%" onchange="ridisegna()">
	</td>

	<td>
		height :
		</td><td>
		<input type="text" id="height" width="100%" onchange="ridisegna()">
	</td>

	<td>
		separetor width :
		</td><td>
		<input type="text" id="select5" onchange="ridisegna()">
	</td>

	<td>
		separator Height:
		</td><td>
		<input type="text" id="select6" onchange="ridisegna()">
	</td>

</tr>
<tr>
	<td>
	<form action="">
		Heuristics: </td><td>
		1- Rapp. <input type="radio" name="linguaggio" value="1" id="euristica1" onchange="ridisegna()" />
        </td><td>
        2- GDT Universal. <input type="radio" name="linguaggio" checked="checked" value="2" id="euristica2" onchange="ridisegna()"" />
        </td><td>
        3- GDT for Solution. <input type="radio" name="linguaggio" value="3" id="euristica3" onchange="ridisegna()"" />

	</form>
	</td>

</tr>

</table>

<form action="/test" method="GET" autocomplete="off" >
    Password:<br>
    <input type="text" name="testo" value="Pippo col cane">
    <br><br>
    <input type="submit" value="Login">
</form>
-->


    <!--
</div>
</nav>
-->


    <div id="spazioSvg"> </div>

    <!--<img src="out.gif"> -->


    <!--
<input type="file" id="fileinput" />
<script type="text/javascript">
  function readSingleFile(evt) {
    //Retrieve the first (and only!) File from the FileList object
    var f = evt.target.files[0];

    if (f) {
      var r = new FileReader();
      r.onload = function(e) {
	      var contents = e.target.result;
        alert( "Got the file.n"
              +"name: " + f.name + "n"
              +"type: " + f.type + "n"
              +"size: " + f.size + " bytesn"
              + "starts with: " + contents.substr(1, contents.indexOf("n"))
        );
      }
      r.readAsText(f);
    } else {
      alert("Failed to load file");
    }
  }

  document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
</script>
-->

    <div id="problem"></div>
    <!--
<nav id=sottoRiga class="navbar navbar-default navbar-static-bottom"></nav>

<nav id=sottoRiga class="navbar navbar-inverse navbar-fixed-bottom">

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="tooltip" >VIRI</a>
        </div>
       </div>
       <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.916667px;">
          <ul class="nav navbar-nav">
          	<li id="tooltip">

        	</li>
           </ul>
       </div>

</nav>

-->



</body>

</html>
